<form action="/new" method="POST">
  <h2>Post a message!</h2>
  <a href="/">Go back</a>
  <br><br>

  <label for="user-name">Your name: </label>
  <br>
  <input type="text" id="user-name" name="userName">
  <br><br>

  <label for="user-message">Your message: </label>
  <br>
  <input type="text" id="user-message" name="userMessage">
  <br><br>

  <button>Submit</button>
</form>