<html>
  <head>
    <title>Message board</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <% for (let i = 0; i < messages.length; i++) { %>
      <div class="message" id="<%= messages[i].id%>">
        <h3><%= messages[i].user %></h3>
        <span><%= messages[i].text %></span>
        <p><%= messages[i].added %></p>
      </div>
    <% } %>
  </body>
</html>